.page-content-container {
  display: flex;
  height: calc(100vh - 65px);
}

.page-content-container-map-container {
  flex: 1;
  padding: 2px;
  margin: 0;
}

.page-content-container-list-container {
  flex: 1;
  max-width: 300px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .page-content-container-list-container {
    display: none;
  }
}
